<header>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-success p-0">
        <a class="navbar-brand p-2" href="/">
            <img class="bg-success rounded-circle" src="/images/logo.jpg" alt="logo">
        </a>
        <button class="navbar-toggler m-3" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-self-end" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto p-3 mx-auto mt-2 mt-lg-0">
                <% for(link of links) { %>
                    <li class="nav-item bttonpage flex-inline h6 px-2">
                        <a class="nav-link text-uppercase" href="#<%= link %>"><%= link %></a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>